@model SpeseCreateInputModel
<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="row">
        <div class="col-12">
        <p>&nbsp;</p>
            <div asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">Descrizione</div>
        <div class="col-md-3">Importo</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-3">
            <input type="text" asp-for="Descrizione" class="form-control form-control-lg" placeholder="Digita la descrizione della spesa">
        </div>
        <div class="col-md-3">
            <input type="text" asp-for="Importo" class="form-control form-control-lg" placeholder="Digita l'importo">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-rocket"></i> Crea spesa!</button>
        </div>
    </div>
    <div class="col-12"><p>&nbsp;</p></div>
    <div class="col-12"><span><b>ATTENZIONE:</b></span> 
    L'importo va inserito usando il punto (.) come separatore di decimali</div>
</form>
@section Scripts
{
    <partial name="_Validation"></partial>
}